
<div class="container mt-4">

<div id="kaban">
  <div id="scroller">
    <div id="boards">
      
      <div class="board" id="board1">
        <header>To do <at-delete-activity-list></at-delete-activity-list></header>
        <div class="cards" id="b1">
          <div class="card"><span class="cardtitle noselect">A great card #1 <at-button-delete-activity></at-button-delete-activity></span></div>
          <div class="card"><span class="cardtitle noselect">A great card #2 <at-button-delete-activity></at-button-delete-activity></span></div>
          <div class="card"><span class="cardtitle noselect">A great card #3 <at-button-delete-activity></at-button-delete-activity></span></div>
          <div class="card"><span class="cardtitle noselect">A great card #4 <at-button-delete-activity></at-button-delete-activity></span></div>
          <at-new-activity></at-new-activity>
        </div>
      </div>
      
      <div class="board" id="board2">
        <header>Doing <at-delete-activity-list></at-delete-activity-list></header>
        <div class="cards" id="b2">
          <div class="card"><span class="cardtitle">A great card #5<at-button-delete-activity></at-button-delete-activity></span></div>
          <at-new-activity></at-new-activity>
        </div>
      </div>
      
      <div class="board" id="board3">
        <header>Done <at-delete-activity-list></at-delete-activity-list></header>
        <div class="cards" id="b3">
          <div class="card"><span class="cardtitle noselect">A great card #5<at-button-delete-activity></at-button-delete-activity></span></div>
          <at-new-activity></at-new-activity>
        </div>
      </div>
  
    </div>
  </div>
</div>

</div>
