.list{ 
    display:inline­-block; 
  }.list{ 
    display:inline­-block; 
    $LIST_BACKGROUND_COLOR: #D2D7E5; 
    background:$LIST_BACKGROUND_COLOR; 
    width:300px; 
    padding:10px; 
  
    &:not(:first­-child){ 
      margin­-left:10px; 
    } 
  
    .list­-name{ 
      padding:10px; 
      border:none; 
      background:transparent; 
    } 
  }
  .card {
    display: flex;
    background-color: #DCDCDC;
  }
  
  .card-body {
    flex: 1;
    border-radius: 1px solid #c8ced3;
    background-color: #DCDCDC;
    border-radius: 0.25rem;
    color: #000000;
  }
  
  .text-value {
    font-size: 28px;
  }
  .list-header-target {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}