.toolbar {
	height: 20px;
    background:#026aa7;
    ;
    color: white;
    font-weight: bold;
    font-family: 'Righteous', bold;
}
.cool-btn{
    float:right;
    background-color: #28a745;
    margin-top:1vh;
    font-family: 'Righteous', bold;
}
.toolbartitle{
    background:#026aa7;
    color: white;
    font-weight: bold;
}