<div class="row col-12" id="board-component">
    <div class="row col-12 mb-3 mt-4">

        <h2>Boards</h2>
        <!-- Form NOVA BOARD [ 
            Possui uma chamada de diretiva do form para criar
             uma nova board e impede que o valor enviado como 
             atributo title da mesma seja enviado em branco] -->
        <form (ngSubmit)="createBoard();" #newBoardForm="ngForm" class="form-inline ml-4">
            <div class="form-group">
                <input type="text" name="title" [(ngModel)]="newBoard.title" #title="ngModel" placeholder="Digite um Nome" required>
            </div>
            <button type="submit" [disabled]="!newBoardForm.valid" class="btn btn-new-board btn-sm ml-3">Criar
                Nova Board</button>
        </form>
    </div>

    <!-- Exibição das Boards Criadas -->
    <div class="board-cards">

        <!-- boards -->
        <div class="box-cards" *ngFor="let board of boards">
            <div class="card-block">

                <div *ngIf="selectedBoard === undefined || selectedBoard.id !== board.id; else showUpdateForm">

                    <h4 class="board-title "><a [routerLink]="['/board', board.id]">{{ board.title }}</a></h4>

                    <button type="button" (click)="deleteBoard(board)" class="btn btn-danger">Delete</button>

                    <button type="button" (click)="selectBoard(board)" class="btn btn-primary">Edit</button>

                </div>

                <!-- Form de atualização das Boards -->
                <ng-template #showUpdateForm>

                    <form (ngSubmit)="updateBoard();" #boardUpdateForm="ngForm" class="form">

                        <div class="form-group">
                            <label for="title"></label>
                            <input type="text" name="title" [(ngModel)]="selectedBoard.title" placeholder="Digite um nome"
                                required>
                        </div>
                        <button type="submit" [disabled]="!boardUpdateForm.valid" class="btn btn-success">Atualizar</button>
                    </form>

                </ng-template>

            </div>
        </div>
    </div>
</div>