#board-component {

    h2,
    h4 {
        color: #026aa7;
        text-shadow: 2px 2px 4px #fff;
        font-family: 'Righteous', bold;
    }
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: #28a73d;
        border-bottom-width: 2px;
        outline: none;
	}
	
      
    
}
.btn-new-board{
    color: #28a73d;
    background-color: #fff;
    float:right;
    font-family: 'Righteous', bold;
}

.box-cards{
    margin-top:10vh;
    margin-left:2vh;
  }
