<div class="row col-12" id="activitys">

        <div class="row col-12">
    
    
            <div *ngIf="showCreateForm === true; else showCreateFormButton">
    
                <form (ngSubmit)="createActivity();" #activityCreateForm="ngForm" class="form create-form justify-content-center">

                    <div class="form-group">
                        <label for="title"></label>
                        <input type="text" name="title" [(ngModel)]="newActivity.title" placeholder="Nome da Task" id="title" required>
                    </div>

                    <div class="form-group">
                        <label for="description"></label>
                        <textarea rows="4" cols="20" name="description" [(ngModel)]="newActivity.description" placeholder="Descrição" id="description"></textarea>
                    </div>
  
                    <button type="submit" class="btn btn-info" (click)="setShowCreateForm(false);">Cancelar</button>
    
                    <button type="submit" [disabled]="!activityCreateForm.valid" class="btn btn-success">Criar</button>
    
                </form>
            </div>
    
            <ng-template #showCreateFormButton>

                <button type="button" class="btn btn-large btn-outline-success show-create-btn" (click)="setShowCreateForm(true);">Nova Task <i class="fa fa-plus text-success ml-2" aria-hidden="true"></i></button>
    
            </ng-template>

        </div>
    
        <div *ngIf="selectedActivity === undefined; else showActivitys"></div>
        <ng-template #showActivitys>
    
            <div>
    
                <div class="card mt-3 " *ngFor="let activity of activitys" [attr.data-activityid]=activity._id>
    
                    <div *ngIf="selectedActivity === undefined || selectedActivity.id !== activity.id; else showActivityUpdateForm">
    
                        <div class="card-title ">
  
                            <h4 class="ml-2 mt-2 ">
                                {{ activity.title }}
                                <i class="fa fa-trash btn-danger mr-2 ml-3" aria-hidden="true" (click)="deleteActivity(activity)"></i>
                                <i class="fa fa-pencil text-danger" aria-hidden="true" (click)="selectedActivity(activity)"></i>
                            </h4>
    
                            <p class="ml-2 mt-2 ">{{ activity.description }}</p>
    
                        </div>
                    </div>
    
                    <ng-template #showActivityUpdateForm>
    
                        <form (ngSubmit)="updateActivity()" #activityUpdateForm="ngForm" class="form update-form">
                            <div class="form-group">
                                <label for="title"></label>
                                <input type="text" name="title" [(ngModel)]="selectedActivity.title" placeholder="Nome da Task" id="title" required>
                            </div>
                            <div class="form-group">
                                <label for="description"></label>
                                <textarea rows="4" cols="20" name="description" [(ngModel)]="selectedActivity.description" placeholder="Descrição" id="description"></textarea>
                            </div>
                            <button type="submit" [disabled]="!activityUpdateForm.valid" class="btn btn-success">Atualizar</button>
    
                        </form>
                    </ng-template>
    
                </div>
            </div>
        </ng-template>
    
    </div>